<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortscript.findnhire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindnHire">
        <activity android:name="com.sortscript.findnhire.Activities.ChatRoomActivity" />
        <activity android:name="com.sortscript.findnhire.ui.notification.OpenOfferNotifyWorkerProfileActivity" />
        <activity android:name="com.sortscript.findnhire.Worker.WorkerActivities.OpenClientRequestActivity" />
        <activity android:name="com.sortscript.findnhire.Worker.WorkerActivities.WorkerMenu" />
        <activity android:name="com.sortscript.findnhire.Worker.WorkerActivities.WorkerLoginActivity" />
        <activity android:name="com.sortscript.findnhire.Activities.VerifyNumberActivity" />
        <activity android:name="com.sortscript.findnhire.Activities.AuthenticationActivity" />
        <activity
            android:name="com.sortscript.findnhire.Activities.PostForWorker"
            android:parentActivityName="com.sortscript.findnhire.Activities.UserMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sortscript.findnhire.Activities.UserMenu"
            android:label="@string/title_activity_user_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FindnHire.NoActionBar" />
        <activity
            android:name="com.sortscript.findnhire.Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- fb -->

        <service android:name="com.sortscript.findnhire.Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.sortscript.findnhire.Services.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>