<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortscript.findnhire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindnHire">
        <activity
            android:name=".Activities.WorkerDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Worker.WorkerActivities.WorkerProfileActivity" />
        <activity
            android:name=".Worker.WorkerActivities.WorkerAvailabilityActivity"
            android:parentActivityName=".Worker.WorkerActivities.WorkerMenu" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChatRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notification.OpenOfferNotifyWorkerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Worker.WorkerActivities.OpenClientRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Worker.WorkerActivities.WorkerMenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Worker.WorkerActivities.WorkerLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WorkersList"
            android:parentActivityName=".Activities.UserMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserMenu"
            android:label="@string/title_activity_user_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FindnHire.NoActionBar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- fb -->
        <service android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>